<!-- Background shapes -->
<section class="sec">
  <div class="orange-circle"></div>
  <div class="blue-shape"></div>

  <!-- Container -->
  <div class="container" [ngClass]="containerClass" id="container">
    <!-- Sign Up -->
    <div class="form-container sign-up-container">
     <form [formGroup]="registerForm" (ngSubmit)="register()">
  <h1>Create Account</h1>

  <div class="row w-100">
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-person"></i>
        <input type="text" placeholder="First Name" formControlName="firstName" />
      </div>
      <small class="text-danger" *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">
        <ng-container *ngIf="registerForm.get('firstName')?.errors?.['required']">
          required.
        </ng-container>
        <ng-container *ngIf="registerForm.get('firstName')?.errors?.['minlength']">
          must be at least 2 characters.
        </ng-container>
        <ng-container *ngIf="registerForm.get('firstName')?.errors?.['maxlength']">
          cannot exceed 50 characters.
        </ng-container>
      </small>
    </div>
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-person"></i>
        <input type="text" placeholder="Last Name" formControlName="lastName" />
      </div>
      <small class="text-danger" *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.invalid">
        <ng-container *ngIf="registerForm.get('lastName')?.errors?.['required']">
          required.
        </ng-container>
        <ng-container *ngIf="registerForm.get('lastName')?.errors?.['minlength']">
          must be at least 2 characters.
        </ng-container>
        <ng-container *ngIf="registerForm.get('lastName')?.errors?.['maxlength']">
          cannot exceed 50 characters.
        </ng-container>
      </small>
    </div>
  </div>

  <div class="row w-100">
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-envelope"></i>
        <input type="email" placeholder="Email" formControlName="email" />
      </div>
      <small class="text-danger" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
        <ng-container *ngIf="registerForm.get('email')?.errors?.['required']">
          required.
        </ng-container>
        <ng-container *ngIf="registerForm.get('email')?.errors?.['email']">
          Please enter a valid email address.
        </ng-container>
        <ng-container *ngIf="registerForm.get('email')?.errors?.['maxlength']">
          Email cannot exceed 100 characters.
        </ng-container>
      </small>
    </div>
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-telephone"></i>
        <input type="text" placeholder="Phone" formControlName="phone" />
      </div>
      <small class="text-danger" *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid">
        <ng-container *ngIf="registerForm.get('phone')?.errors?.['required']">
          required.
        </ng-container>
        <ng-container *ngIf="registerForm.get('phone')?.errors?.['pattern']">
          Please enter a valid phone number.
        </ng-container>
      </small>
    </div>
  </div>

  <div class="row w-100">
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-lock"></i>
        <input type="password" placeholder="Password" formControlName="password" />
      </div>
      <small class="text-danger" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
        <ng-container *ngIf="registerForm.get('password')?.errors?.['pattern']">
         Password: 6-20 chars, letters, numbers, symbols.
        </ng-container>
      </small>
    </div>
    <div class="col">
      <div class="input-icon">
        <i class="bi bi-lock-fill"></i>
        <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" />
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Sign Up</button>
</form>
    </div>

    <!-- Sign In -->
    <div class="form-container sign-in-container">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h1>Sign in to OstaFandy</h1>
        <input type="email" placeholder="Email" formControlName="email" />
        <small class="text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
          Valid email is required.
        </small>
        <input type="password" placeholder="Password" formControlName="password" />
        <small class="text-danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
          Password is required.
        </small>
        <button type="submit">Log In</button>
        <span class="footer">
            <h5> <a href="/forgetPass">Forget Password</a></h5>
       </span>
      </form>
    </div>
    

    <!-- Overlay -->
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" (click)="togglePanel(false)" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start your journey with us</p>
          <button class="ghost" (click)="togglePanel(true)" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>