<footer class="footer-section text-white pt-5 pb-3">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-4">
        <h5 class="fw-bold">OstaFandy</h5>
        <p>Your one-stop solution for trusted home maintenance services.</p>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase">Company</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#" class="text-white">About</a></li>
          <li><a href="#" class="text-white">Careers</a></li>
          <li><a href="#" class="text-white">Blog</a></li>
        </ul>
      </div>

      <div class="col-md-2">
        <h6 class="text-uppercase">Support</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#" class="text-white">Help Center</a></li>
          <li><a href="#" class="text-white">FAQs</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h6 class="text-uppercase">Stay Connected</h6>
        <form class="d-flex mb-3">
          <input type="email" class="form-control me-2" placeholder="Email Address" />
          <button class="btn btn-orange">Subscribe</button>
        </form>
        <div>
          <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-5"></i></a>
          <a href="#" class="text-white me-3"><i class="bi bi-twitter fs-5"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram fs-5"></i></a>
        </div>
      </div>
    </div>
    <hr class="border-light mt-4" />
    <div class="text-center small text-white-50">© 2025 OstaFandy. All rights reserved.</div>
  </div>
</footer>