<section class="sec">
    <div class="orange-circle"></div>
    <div class="blue-shape"></div>
    @if (step==1) {
    <div class="forgot-password-container">
        <h1>Forgot Password</h1>
        <h6 class="information-text">
            Enter your registered email to reset your password.
        </h6>

        <div class="form-group">
            <label for="user_email">Email</label>
            <input type="email" name="user_email" id="user_email" placeholder="you@example.com" [(ngModel)]="email">
        </div>

        <button (click)="forgetPass()">Reset Password</button>

        <div class="footer">
            <h5>New here? <a href="#">Sign Up</a></h5>
            <h5>Already have an account? <a href="#">Sign In</a></h5>
        </div>
    </div>
    }
    @else if (step==2) {
    <div class="forgot-password-container">
        <h1>Reset Password</h1>
        <h6 class="information-text">
            Enter your new password and confirm it below.
        </h6>

        <div *ngIf="!expired">
            <p style="color: #004e98; font-weight: bold;">Time remaining: {{ minutes }}:{{ seconds < 10 ? '0' + seconds : seconds }} </p>

                    <div class="form-group with-icon">
                        <label for="new_password">OTP</label>
                        <div class="input-wrapper">
                            <i class="bi bi-lock"></i>
                            <input type="text" name="OTP" id="OTP" placeholder="Enter OTP Sended Via Email"
                                [(ngModel)]="OTP">
                        </div>
                    </div>

                    <div class="form-group with-icon">
                        <label for="new_password">New Password</label>
                        <div class="input-wrapper">
                            <i class="bi bi-lock"></i>
                            <input type="password" name="new_password" id="new_password"
                                placeholder="Enter new password" [(ngModel)]="pass">
                        </div>
                    </div>

                    <div class="form-group with-icon">
                        <label for="confirm_password">Confirm Password</label>
                        <div class="input-wrapper">
                            <i class="bi bi-shield-lock"></i>
                            <input type="password" name="confirm_password" id="confirm_password"
                                placeholder="Confirm your password" [(ngModel)]="confirmpass">
                        </div>
                    </div>

                    <button (click)="resetpass()">Submit</button>
        </div>

        <div *ngIf="expired" style="color:red; font-weight: bold; margin-top:20px;">
            Time expired! Please request a new OTP.
        </div>

        <div class="footer">
            <h5>New here? <a href="/login">Sign Up</a></h5>
            <h5>Already have an account? <a href="/login">Sign In</a></h5>
        </div>
    </div>
    }

</section>