<!-- Header-->
<header class="top-bar d-flex justify-content-between align-items-center px-3 shadow-sm bg-white fixed-top"
  [class.sidebar-collapsed-header]="!sidebarOpen">
  <!--  toggle button -->
   <button class="toogle-btn" (click)="toggleSidebar()" aria-label="Toggle sidebar">
    <i class="bi-list"></i>
  </button>
   <div class="d-flex align-items-center gap-3">
     <app-admin-notification></app-admin-notification>

  <!-- user prfile -->
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle p-0 border-0 rounded-circle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false" style="width: 40px; height: 40px; overflow: hidden;">
        <!-- add photo here -->
        <img src="https://i.pravatar.cc/40" alt="User profile" class="rounded-circle"
          style="width: 40px; height: 40px; object-fit: cover;" /> 
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow">
        <li><a class="dropdown-item" routerLink="/admin/profile"><i class="bi bi-person me-2"></i>Profile</a></li>
        <li><button class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-right me-2"></i>Logout</button>
        </li>
      </ul>
    </div>
    </div>
  <!-- </div> -->
</header>

<!-- Sidebar -->
<div class="sidebar d-flex flex-column" [class.sidebar-collapsed]="!sidebarOpen">
  <h3 class="text-white mb-4">OstaFandy</h3>

  <div class="sidebar-section">
    <h6>Main</h6>
    <a routerLink="/admin/AdminDashboard" routerLinkActive="active" class="nav-link"
      [routerLinkActiveOptions]="{ exact: true }">
      <i class="bi bi-speedometer2 me-2"></i>Dashboard
    </a>
    <a routerLink="/admin/booking" routerLinkActive="active" class="nav-link">
      <i class="bi bi-journal-check me-2"></i>Bookings
    </a>
  </div>

  <div class="sidebar-section">
    <h6>Service</h6>
    <a routerLink="/admin/category" routerLinkActive="active" class="nav-link">
      <i class="bi bi-tags me-2"></i>Category
    </a>
    <a routerLink="/admin/services" routerLinkActive="active" class="nav-link">
      <i class="bi bi-box-seam me-2"></i>Services
    </a>
  </div>

  <div class="sidebar-section">
    <h6>User Management</h6>
    <button class="nav-link dropdown-toggle text-white w-100 text-start" (click)="toggleHandymanDropdown()"
      [attr.aria-expanded]="handymanDropdownOpen">
      <i class="bi bi-person-check me-2"></i> Handymen
    </button>
    <div [class.collapse]="!handymanDropdownOpen" class="ps-4">
      <a routerLink="/admin/allhandymen" routerLinkActive="active" class="nav-link text-white">All Handymen</a>
      <a routerLink="/admin/orderfeedback" routerLinkActive="active" class="nav-link text-white">Orders & Feedback</a>
      <a routerLink="/admin/application" routerLinkActive="active"
        class="nav-link text-white">Applications</a>
         <a routerLink="/admin/handymanblockdate" routerLinkActive="active" class="nav-link text-white">Block Dates</a>
    </div>
    <a routerLink="/admin/AdminClient" routerLinkActive="active" class="nav-link">
      <i class="bi bi-people me-2"></i>Clients
    </a>
  </div>

  <div class="sidebar-section">
    <h6>Payment</h6>
    <a routerLink="/admin/payments" routerLinkActive="active" class="nav-link">
      <i class="bi bi-wallet2 me-2"></i>Transactions
    </a>
  </div>

   <div class="sidebar-section">
    <h6>Analytics</h6>
    <a routerLink="/admin/analytics" routerLinkActive="active" class="nav-link">
      <i class="bi bi-graph-up-arrow me-2"></i>Analytics
    </a>
  </div>
</div>

<!-- Main content -->
<div class="main-content" [class.sidebar-collapsed-main]="!sidebarOpen">
  
  <router-outlet></router-outlet>
</div>