<app-navbar></app-navbar>


    <!--  toggle button -->
  <button class="toogle-btn" (click)="toggleSidebar()" aria-label="Toggle sidebar" #sidebarToggle>
      <i class="bi-list"></i>
    </button>
  <!-- Sidebar -->
  <div class="sidebar d-flex flex-column" [class.sidebar-collapsed]="!sidebarOpen">

    <div class="sidebar-section">
      <h6>Main</h6>
      <a routerLink="/client/bookings" routerLinkActive="active" class="nav-link">
        <i class="bi bi-journal-check me-2"></i>
        <span class="nav-text">My Bookings</span>
      </a>
      <a routerLink="/client/quotes" routerLinkActive="active" class="nav-link"
        [routerLinkActiveOptions]="{ exact: true }">
        <i class="bi bi-speedometer2 me-2"></i>
        <span class="nav-text">Quotes</span>
      </a>
      <a routerLink="/client/messages" routerLinkActive="active" class="nav-link">
        <i class="bi bi-chat-dots me-2"></i>
        <span class="nav-text">Messages</span>
      </a>
      <a routerLink="/client/profile" routerLinkActive="active" class="nav-link">
        <i class="bi bi-person-circle me-2"></i>
        <span class="nav-text">Profile</span>
      </a>
    </div>
  </div>
<!-- Main content -->
<div class="main-content" [class.sidebar-collapsed-main]="!sidebarOpen">
  <router-outlet></router-outlet>
</div>
