
<div class="bookingwizard">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner-container">
      <div class="spinner"></div>
      <p>Loading, please wait...</p>
    </div>
  </div>
  <div class="container py-5">

    <!-- Step Tracker -->

    <div class="step-tracker d-flex justify-content-between align-items-center mb-3">
      <div *ngFor="let step of [1, 2, 3, 4, 5]" class="step text-center"
        [ngClass]="{ active: currentStep === step, done: currentStep > step }" (click)="goToStep(step)"
        style="cursor: pointer;">
        <div class="icon d-flex align-items-center justify-content-center">
          <i [ngClass]="getStepIcon(step)"></i>
        </div>
        <small>{{ getStepLabel(step) }}</small>
      </div>
    </div>

    <!-- Step 1: Services -->
    <div *ngIf="currentStep === 1">
      <div class="container">
        <div class="services-container">
          <!-- Left Panel: Available Services -->
          <div class="available-services">
            <h4>Available Services</h4>
            @for (item of ServicesItem; track $index) {
            <div
              class="service-card d-flex justify-content-between align-items-center p-3 border rounded shadow-sm mb-3">
              <div>
                <strong>{{ item.name }}</strong>
                <p class="text-muted small mb-1">{{ item.description }}</p>
                <span style="color: #ff6600; font-weight: 600;">
                  {{ item.fixedPrice | currency:'EGP' }}
                </span>
              </div>
              <button class="btn btn-sm btn-outline-primary" (click)="addService(item)">Add</button>
            </div>
            }
          </div>

          <!-- Right Panel: Selected Services -->
          <div class="selected-services">
            <h4>Selected Services</h4>
            <div class="selected-list">
              <!-- Dynamically added selected cards -->
              @for (item of SelectedItem; track $index)
              {
              <div class="selected-card d-flex align-items-center justify-content-between p-2 mb-2 border rounded">
                <strong class="service-name">{{ item.name }}</strong>
                <div class="right-group d-flex align-items-center">
                  <span class="quantity-simple">{{ item.quantity }}</span>
                  <i class="bi bi-trash remove ms-2" (click)="removeService(item.id)"></i>
                </div>
              </div>
              }
            </div>
            <div class="note-box">
              <label for="note" class="form-label">Additional Note</label>
              <textarea id="note" placeholder="Write any additional info..." class="form-control"
                [(ngModel)]="bookingData.note"></textarea>
            </div>
            <div class="text-end mt-3">
              <button class="btn btn-primary" (click)="next()">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Step 2: Location -->
    <div *ngIf="currentStep === 2">
      <h3 class="mb-4 text-blue">Select Location</h3>

      <!-- Addresses List Vertical -->
      <div class="address-list mb-4">
        <!-- Address Card 1 -->
        @for (item of userAddresses; track $index)
        {
        @if (item.isDefault)
        {
        <div class="card address-card shadow-sm mb-3 p-3" [class.selected]="item.id === selectedAddressId"
          (click)="selectedAdddress(item.id)">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h6 class="mb-1 text-dark">
                <i class="bi bi-geo-alt me-2 text-primary"></i>{{item.address1}}
              </h6>
              <p class="mb-0 text-muted small">Type: {{item.addressType}}</p>
              <p class="mb-0 text-muted small">City: {{item.city}} - <span
                  class="badge bg-info text-dark">Default</span></p>
            </div>
            @if(selectedAddressId == item.id){
            <i class="bi bi-check-circle-fill text-success fs-5 mt-1"></i>
            }
          </div>
        </div>
        }@else{
        <div class="card address-card shadow-sm mb-3 p-3" [class.selected]="item.id === selectedAddressId"
          (click)="selectedAdddress(item.id)">
          <div class="d-flex justify-content-between align-items-start">
            <div>
              <h6 class="mb-1 text-dark">
                <i class="bi bi-geo-alt me-2 text-primary"></i> {{item.address1}}
              </h6>
              <p class="mb-0 text-muted small">Type: {{item.addressType}}</p>
              <p class="mb-0 text-muted small">City: {{item.city}}</p>
            </div>
            @if(selectedAddressId == item.id){
            <i class="bi bi-check-circle-fill text-success fs-5 mt-1"></i>
            }
          </div>
        </div>
        }

        }


        <!-- Add New Address (Triggers Modal) -->
        <div class="card dashed-card text-center p-4" style="cursor: pointer;" data-bs-toggle="modal"
          data-bs-target="#addAddressModal" (click)="getLocationCoordinates()">
          <i class="bi bi-plus-circle fs-2 mb-2 text-muted"></i>
          <p class="mb-0 text-muted">Add New Address</p>
        </div>
        <div class="modal fade" id="addAddressModal" tabindex="-1" aria-labelledby="addAddressModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
              <form [formGroup]="addressForm" (ngSubmit)="submitNewAddress()">
                <div class="modal-header">
                  <h5 class="modal-title">Add New Address</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body row g-3">
                  <div class="col-md-6">
                    <label>Full Address</label>
                    <input type="text" class="form-control" formControlName="address1">
                  </div>
                  <div class="col-md-6">
                    <label>City</label>
                    <select class="form-select" formControlName="city">
                      <option *ngFor="let type of cites" [value]="type">{{ type }}</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label>Address Type</label>
                    <select class="form-select" formControlName="addressType">
                      <option *ngFor="let type of AddressTypes" [value]="type">{{ type }}</option>
                    </select>
                  </div>
                  <div class="col-md-6 d-flex align-items-center gap-3">
                    <div class="form-check">
                      <input type="checkbox" class="form-check-input" formControlName="isDefault">
                      <label class="form-check-label">Default</label>
                    </div>
                  </div>


                </div>

                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" [disabled]="addressForm.invalid"
                    data-bs-dismiss="modal">Save</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>


      <div class="d-flex justify-content-between mt-4">
        <button type="button" class="btn btn-outline-primary" (click)="back()">← Back</button>
        <button type="button" class="btn btn-primary" (click)="next()">Next</button>
      </div>

    </div>

    <!-- Step 3: Schedule -->
    <div *ngIf="currentStep === 3">
      <h3 class="mb-4 text-blue">Choose Date & Time</h3>
      <form>
        <div class="row g-4 rounded shadow-lg p-4 mb-4 bg-white mt-0">
          <div class="col-md-6">
            <label class="form-label text-blue">Preferred Date</label>
            <input type="date" class="form-control" [(ngModel)]="preferredDate" [min]="today" name="preferredDate"
              (blur)="onDateChange()" />
          </div>
          <div class="col-md-6">
            <label class="form-label text-blue">Preferred Time</label>
            <select class="form-select" [(ngModel)]="selectedSlot" name="selectedSlot">
              <option selected disabled>Select time slot</option>
              @for (item of availableSlots; track $index)
              {
              <option [ngValue]="item">{{ item.startTime | date: 'shortTime' }}</option>
              }
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
          <button type="button" class="btn btn-outline-primary" (click)="back()">Back</button>
          <button type="button" class="btn btn-primary" (click)="next()">Next</button>
        </div>
      </form>
    </div>


    <!-- Step 4: Checkout -->
    <div *ngIf="currentStep === 4">
      <h3 class="mb-4 text-blue">Checkout</h3>
      <div class="row g-4">
        <!-- Left Side -->
        <div class="col-md-6">
          <div class="checkout-card p-4">
            <h2 class="price-tag mb-4">Total Price: {{ bookingData.totalPrice | currency:'USD':'symbol':'1.2-2':'en' }}
            </h2>
            <p class="text-muted mb-2">Features Included:</p>
            <ul class="feature-list mb-4">
              @for (item of SelectedItem; track $index) {
              <li><i class="bi bi-check2-circle text-success"></i> x{{item.quantity}} {{item.name}}</li>
              }

            </ul>

            <p class="mb-2 text-muted">Select Payment Method:</p>
            <div class="d-flex gap-3">
              <div class="payment-method" [class.active]="selectedPayment === 'card'" (click)="selectPayment('card')">
                <i class="bi bi-credit-card-2-front"></i> Card
              </div>

              <div class="payment-method" [class.active]="selectedPayment === 'cash'" (click)="selectPayment('cash')">
                <i class="bi bi-cash"></i> Cash
              </div>
            </div>
          </div>
          <div class="text-start mt-4">
            <button type="button" class="btn btn-outline-primary" (click)="back()">Back</button>
          </div>
        </div>

        <!-- Right Side -->
        <div class="col-md-6">
          <div class="checkout-card p-4">
            <!-- Card Payment Form -->
            <div *ngIf="selectedPayment === 'card'" class="stripe-form">
              <label class="form-label">Card Number</label>
              <div id="card-number-element" class="stripe-input mb-3"></div>

              <div class="card-icons mb-3">
                <i class="fab fa-cc-visa" title="Visa"></i>
                <i class="fab fa-cc-mastercard" title="MasterCard"></i>
                <i class="fab fa-cc-amex" title="American Express"></i>
                <i class="fab fa-cc-discover" title="Discover"></i>
              </div>

              <label class="form-label">Expiry Date</label>
              <div id="card-expiry-element" class="stripe-input mb-3"></div>

              <label class="form-label">CVC</label>
              <div id="card-cvc-element" class="stripe-input mb-3"></div>

              <div id="card-errors" class="text-danger small mt-2"></div>
            </div>

            <!-- Cash Info -->
            <div *ngIf="selectedPayment === 'cash'">
              <p class="text-muted mb-3"><i class="bi bi-info-circle"></i> You will pay in cash upon service
                completion.
              </p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="cashConfirm" [(ngModel)]="cashConfirmed"
                  name="cashConfirm" />
                <label class="form-check-label" for="cashConfirm">
                  I confirm I will pay in cash to the handyman
                </label>
              </div>
            </div>

            <div class="text-end mt-4">
              <button type="button" class="btn btn-primary px-4" (click)="confirmCardPayment()"
                [disabled]="selectedPayment === 'cash' && !cashConfirmed">
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>


    </div>


    <!-- Step 5: Confirmation -->
    <div *ngIf="currentStep === 5">
      <div class="handyman-card text-center mx-auto p-4 shadow-sm">
        <img [src]="handydata!.img " class="rounded-circle handyman-img mb-3" />
        <h5 class="text-blue">{{handydata.firstName}} {{handydata.lastName}}</h5>
        <p class="text-muted">{{handydata.specializationCategory}}</p>
        <p><i class="bi bi-telephone"></i> {{handydata.phone}}</p>
        <button class="btn btn-outline-primary" (click)="chatVisible = !chatVisible">
          <i class="bi bi-chat-dots"></i> Chat with Handyman
        </button>
      </div>
<app-chat *ngIf="chatVisible" [chatId]="chatId" [userId]="userId"></app-chat>
    </div>
  </div>

</div>

