/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import 'bootstrap-icons/font/bootstrap-icons.css';


:root {
  --blue-dark: #004e98;
  --blue-medium: #3a6ea5;
  --orange: #ffa94d;
  --gray: #c0c0c0;
}

* {
  box-sizing: border-box;
}
/* tables style */